@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
scroll-behavior: smooth;
}



body {
    background-color: #347c38;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
        max-width: 1200px;
}

.name {
    font-size: 3rem;
    color: #eeeeee;
}

.title {
    font-size: 4rem;
    color: darkgoldenrod;
}

hr {
    opacity: 70%;
}

.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.Ex {
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.textTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.aboutName {
    color: darkgoldenrod;
}

.aboutTitle {
    color: #eeeeee;
}

.aboutMePar {
    text-align: justify;
    color: azure;
     font-size: 2rem;
    padding: 1.5rem;
}

.الشرحName {
    color: #eeeeee;
    text-align: center;
}

.الشرحMePar {
      text-align: justify;
    color: red;
     font-size: 3rem;
    padding: 3rem
}

.الشرحMePa {
      text-align: justify;
    color: red;
     font-size: 3rem;
    padding: 3rem
}

.arrow {
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.contactTittle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}

footer {
    color: #eeeeee;
    padding: 2rem;
    text-align: center;
}